/* Adicione estilos específicos para o componente financeiro aqui, se necessário */
/* Por exemplo, para a tabela ou cards */

.mat-mdc-card {
  border-radius: 12px;
}

.mat-mdc-table {
  border-collapse: collapse;
  width: 100%;
}

.mat-mdc-header-cell {
  font-weight: bold;
  color: #333;
  background-color: #f8f8f8;
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.mat-mdc-cell {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.mat-mdc-row:hover {
  background-color: #f5f5f5;
}

